@mixin margin ($margin1, $margin2){
    margin-top: $margin1;
    margin-bottom: $margin2;
}

@mixin reductor ($width, $height){
    width: $width;
    height: $height;
}

@mixin grid-column ($start, $end){
    grid-column-start: $start;
    grid-column-end: $end;
}

@mixin grid-row ($start, $end){
    grid-row-start: $start;
    grid-row-end: $end;
}